
html{
	scroll-behavior: smooth;
}
body {
    width: 100%;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0%;
    padding: 0%;
    min-height: 100%;
    font-family: 'Roboto Condensed', sans-serif;

}

#cabecera {
    background-color: #808080;
	width: 100%;
	max-height: 50px;
	position: fixed;
}
#cabecera>i, #cabecera>h1{
	display: inline-block;
	font-size: 1.5rem;
	vertical-align: middle;
}

nav {

	width: 100%;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

nav a {
    display: inline-block;
    color: #000000;
    text-decoration: none;
	border: #000000 1px solid;
	border-radius: 5px;
	padding: 5px;
}

nav a:hover {
    color: #ff0062;
}

main {
    max-width: 850px;
	width: 50%;
	min-width: 768px;
    padding: 15px;
    margin: 15px auto;
}

h3 {
    font-size: 2em;
}

h4 {
    color: #ff0062;
}

h5 {
    color: #141414d8;
    font-weight: bold;
    font-size: 0.5rem;
}

.album, .galeria, .principal{
	box-sizing: content-box;
    background-color: #eeeeee;
    border: #808080 1px solid;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0px auto ;
}

.galera{
	padding: 0%;
}
.galeria img{
	display: inline-block;
	min-width: 100px;
	width: 25%;
	max-width: 500px;
	margin: 0px;
	vertical-align: middle;
	margin: 5px;
}

.principal img{
	display: block;
	min-width: 100px;
	width: 25%;
	max-width: 500px;
	float: right;
	margin-left: 10px;
}

.principal p{
	text-align: justify;
}

h2,
h3,
h4 {
    padding: 2px 0;
    margin: 0%;
}

.datos img {
	display: inline-block;
    width: 20%;
    min-width: 100px;
    border-radius: 5px;

}

.datos {
    min-height: 100px;
    height: 20%;
    display: flex;

}

.datos div {
    min-height: 100px;
    height: 20%;
    padding: 10px 0;
    margin-left: 15px;
}

.lista article {
    padding: 0%;
    margin: 0%;
}

li {
    margin: 0 15px;
}

hr {
    border: solid #808080 1px;
    border-radius: 5px;
}