#cabecera {
    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 1;
}

nav {
    width: 100%;
    height: 50px;
    
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav span a {
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

#pie {
    display: flex;
    width: 100%;
    color: #ff0062;
    background-color: #111111;
    justify-content: space-around;
}

#pie .datos {
    box-sizing: border-box;
    max-width: 25%;
}

@media (max-width:768px) {
    nav{
        height: 70px;
    }

    #pie {
        display: flex;
        width: 100%;
        margin: 0%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #pie>.datos {
        box-sizing: border-box;
        max-width: unset;
        width: 50%;
        padding: 0px 10px;
    }
}