#datos {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    box-sizing: content-box;
    background-color: #eeeeee;
    border: #808080 1px solid;
    border-radius: 10px;
    width: 100%;
    padding: 0px 0px;
}

table {
    border: solid 1px #808080;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    cursor: default;
    width: 100%;
    margin: 20px auto;
    box-shadow: 4px 3px 13px 1px rgba(0, 0, 0, 0.342);
}

thead,
tfoot {
    background: #111111;
    color: #ff0062;
}

thead {
    border-bottom: 1px solid #808080;
}

tfoot {
    border-top: 1px solid #808080;
}

thead th,
tfoot th,
tbody td {
    padding: 5px 5px;
}

tbody tr:nth-child(2n+1) {
    background-color: #dfdfdf;
}

tr:hover {
    background-color: #ff00621a !important; 
}

td:hover, th:hover{
    background: #ff00621a;
}

@media (max-width:768px) {
    table {
        font-size: 0.9em;
        width: 100%;
    }

    #datos table {
        width: 95%;
        box-sizing: border-box;
        padding: 5px 20px;;
        border: #808080 solid 1px;
        border-radius: 10px;
    }
}