#datos {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    box-sizing: content-box;
    background-color: #eeeeee;
    border: #808080 1px solid;
    border-radius: 10px;
    width: 100%;
    padding: 5px 0px;
}

table {
    border: solid 1px #808080;
    border-radius: 10px;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    cursor: default;
    width: 100%;
}

thead,
tfoot {
    background: #dfdfdf;
    color: #ff0062;
}

thead {
    border-bottom: 1px solid #808080;
}

tfoot {
    border-top: 1px solid #808080;
}

thead th,
tfoot th,
tbody td {
    padding: 5px 10px;
}

tbody tr:nth-child(2n+1) {
    background-color: #dfdfdf;
}

tbody tr:hover {
    background-color: #ff00620e;
}

@media (max-width:768px) {
    table {
        font-size: 0.6em;
        width: 90%;
        margin: auto;
    }

    #datos {

        border: none;

    }

    #datos table {
        width: 95%;
        box-sizing: border-box;
        padding: 5px 20px;
        text-align: center;
        border: #808080 solid 1px;
        border-radius: 10px;
    }
}