html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    width: 80%;
    margin: 55px auto;
}

main section {
    margin: 10px 0;
}

.titu{
    width: 100%;
    margin: 10px;
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

h4 {
    color: #ff0062;
}

h5 {
    color: #141414d8;
    font-weight: bold;
}

h2,
h3,
h4 {
    padding: 2px 0;
    margin: 0%;
}

@media (max-width: 768px){
    main {
        width: 90%;
        margin: 60px auto 0px;
        border: solid 1px;
    }

    body{
        background-color: #eeeeee;
    }
}